<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  
  </head>

  <body>
   
        <h2>login</h2>
     
          <form action="/loginAction" method="post">
            <% if(locals.error) {%>
              <p><%=error%></p>
              <%}%>     

            <label for="eml"> Email </label><br />
            <input type="Email" name="eml" id="eml" /><br /><br />
            <label for="psw">Password</label><br />
            <input type="password" name="psw" id="psw" /><br />
            <button type="submit">
              Login
            </button>
          </form>
       
  </body>
</html>
